:root{
    --background: #f7fff7;
    --primary: #494947;
    --secondary: #7392b7;
    --font: #090446;
    --highlight: #040566;
}

* {
    font-family: 'Prompt', sans-serif;
    letter-spacing: 0.08em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
}

a {
   text-decoration: none;
   color: var(--background);
}

/*-----Header----*/
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
}

header nav {
    width: 750px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    margin: 0 auto;
    padding: 5px 5px;  
}

header nav ul li a:hover{
    color: var(--font);
    background-color: var(--background);
    border-radius: 15px;
}

header div h1{
    margin: 0 30px;
    color: var(--background);
}

header div{
    margin: 0 30px;
}

/*-----Hero section----*/
#hero{
    display: flex;
    flex-flow: row wrap;
}

#hero #title-con{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 15px;
}

#hero #title-con #title {
    display: flex;
    align-self: flex-end;
}

#hero #title-con img {
    border: 3px solid var(--font);
    border-radius: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#hero #summary-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    width: 30%;
    margin: 30px 30px;
    padding: 0 50px;
}

#hero #summary-con #summary-title{
    width: 200px;
    margin: 0 15px;
    border-bottom: 3px solid var(--font);
    color: var(--font);
}

#hero #summary-con #summary p{
    color: var(--font);
}

/*----Link section----*/
.link a img{
    border-radius: 15px;
    border: 5px solid var(--font);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    max-width: 95%;
    height: auto;
}

#first-link-con{
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    height: 500px;
    max-width: 100%;
    padding: 15px 0;
}

#first-link-con #first-link{
    text-align: center;
}

#first-link-con #first-link img{
    margin: 15px auto;
}

#link-con{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    background-color: var(--primary);
    height: auto;
    max-width: 100%;
    padding-bottom: 15px;
}

#link-con div h3 {
    margin: 10 auto;
}

/*----Contact section----*/
#contact-info{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: var(--background);
    padding: 15px 0;
}

#contact-info h4 a {
    color: var(--font);
    margin: 0 auto;
    padding: 5px 5px;
}

#contact-info h4 a:hover{
    color: var(--background);
    background-color: var(--primary);
    border-radius: 15px;
}

#contact-info h4 a:hover{
    color: var(--background);
    background-color: var(--primary);
    border-radius: 15px;
}

/*
Media quieries
*/
@media screen and (max-width: 1225px){
    header {
        flex-direction: column;
        width: 100%;
    }

    #hero {
        align-content: center;
        flex-direction: column;
        width: 100%;
    }

    #hero #title-con {
        flex-direction: column;
    }

    #hero #title-con #title {
        align-self: center;
    }

    #hero #title-con #profile-pic {
        align-self: center;
    }

    #hero #summary-con {
        width: 100%;
        align-self: center;
    }

    #hero #summary-con #summary {
        align-self: center;
    }
    
}

@media screen and (max-width: 970px){
    header {
        flex-direction: row;
        justify-content: center;
    }

    header #page-title {
        text-align: center;
    }

    #hero #summary-con {
        align-self: center;
    }

}